input[type=text].space-top,  input[type=email].space-top {
    margin-top: 30px;
}

div.validatSpace {
    margin-top: -10px;
}

div p.validatColor {
color:red;
}

div.tableSpace {
    margin-left: 90px !important;
}

div.headingStyle {

    border: 1px solid !important;
    height: 35px;
    padding-left: 10px;
    padding-top: 5px;
    font-weight: 600;
    background-color: navy;
    border-radius: 2px;

}

table.tabStyling {
    border: 1px solid !important;
}

tr.trStyling {

    border-bottom: 1px solid #f3eeee !important;
}

div.formDivStyling {
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 15px !important;
}

form.stylingForm {
    margin-left: 5px;
    margin-right: 20px;
}

div.titleStyling {
    font-weight: 600;
    font-size: larger;
    margin-left: 15px;
    margin-bottom: 5px !important;
}

td button.btnEdit {
    background-color: #e8a818 !important;
    border: 1px solid black !important;
    margin-right: 20px;
}

th.nameStyling, td.tdStyling  {
    padding-left: 18px !important;
}

input.searchStyling {
    width: 350px !important;
    padding-left: 10px !important;
    border: 1px solid white !important;
    border-radius: 5px !important;
    height: 34px !important;
    color: white!important;
    font-size: 14px !important;
}

span.spanStyling {
    margin-right: 10px !important;
}

button.filterStyling, button.showStyling {
    margin-left: 10px !important;
    margin-top: -4px !important;
    margin-right: 10px !important;
}

button.filterStyling {
    background-color: cornflowerblue!important; 
}

button.clearStyling {
    background-color: #ed7208 !important;
    margin-bottom: 5px !important;
    margin-left: 10px;
}

div.titleSearchStyling, div.titleNumberStyling {
    margin-left: 604px !important;
    font-weight: 600;
    font-size: larger;
}

div.titleNumberStyling {
    margin-top: -15px !important;
}

div.recordCountStyling {
    text-align: left;
    margin-left: 607px;
    margin-bottom: 20px;
    font-size: medium;
}